@model TriviaLink.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameTheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameTheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterLastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GameID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
