@model TriviaLink.Models.Slide

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slide</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SlideID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
